* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #333;
}

.titulo-retos {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #333;
}

.accordion-button {
    text-transform: uppercase;
}


.fondo1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #333;
    background-color: #f1f1f1;
}

.container-fluid1 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.accordion-button {
    background-color: #e9c9cd; 
    color: rgb(0, 0, 0); 
}

.accordion-button:not(.collapsed) {
    background-color: #d38b8b; 
    color: white;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.espacio {
    padding: 120px 0;
}

#accordion {
    flex-grow: 1;
}

.img-fluid{
    width: 600px;
    height: auto; 
}

footer {
    position: relative;
    width: 100%;
    bottom: 0;
}
