* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #333;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.fondo1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #333;
    background-color: #f1f1f1;
}

#habilidad1 {
    background-color: #4A90E2; 
}

#habilidad2 {
    background-color: #50C878; 
}

#habilidad3 {
    background-color: #E67E22; 
    margin-bottom: 150px;
}


.container-fluid1 {
    padding-top: 20px;
    padding-bottom: 20px;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}
